.popup {
	position: fixed;
	top: 0;
	left: 0;
	@include flex-center;
	width: 100%;
	height: 100%;
	@include z-index(popup);
	transition: all .2s ease;
	opacity: 0;
	visibility: hidden;
	&.active {
		opacity: 1;
		visibility: visible;
	}
}
.popup_submit {
}
.popup_form_bg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(27, 27, 27, 0.6);
}
.close_popups {
	button {
		@include flex-center;
		width: 100%;
		height: 100%;
	}
}
.remove {
}
.popup_form_w {
	background-color: $white;
	border-radius: 2rem;
	position: relative;
	padding: 4rem;
	max-width: 53rem;
	align-items: center;
	@include bp($point_5) {
		max-width: 35rem;
		padding: 2rem;
	}
}
.popup_close {
	position: absolute;
	top: 2.5rem;
	right: 2.5rem;
	button {
		color: #BB0000;
	}
}
.icon {
}
.icon-close {
}
.popup_form_head {
	margin-bottom: 3rem;
	text-align: center;
	h3 {
		margin-bottom: 1rem;
	}
}
.popup_form {
}
.popup_form_input {
	&:not(:last-child) {
		margin-bottom: 2rem;
	}
	input {
		@include app;
		border: .1rem solid rgba(27, 27, 27, 0.4);
		border-radius: 1rem;
		width: 100%;
		padding: 2.1rem 0 2.2rem 2.5rem;
		&::-webkit-input-placeholder {
			color: $dark;
		}
	}
}
.popup_form_btn {
	margin-bottom: 2rem;
	button {
		background: $yellow;
		padding: 2.2rem 6rem;
		width: 100%;
		border-radius: 1rem;
		box-shadow: 0 1.9rem 6rem rgba(255, 222, 89, 0.3);
		transition: all .4s ease;
		&:hover {
			background: $gold;
			box-shadow: 0 1.9rem 6rem rgba(255, 222, 89, 0.3);
		}
	}
}
.popup_policy {
	font-size: 1.6rem;
	a {
		border-bottom: .1rem solid #000;
	}
}




.popup_menu {
	margin-bottom: 2rem;
	a {
		color: $dark;
		font-size: 2.4rem;
	}
	li {
		&:not(:last-child) {
			margin-bottom: 1.5rem;
		}
	}
}
.popup_form_bg_m {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(233, 233, 233, 0.8);
}
.popup_form_m {
	position: absolute;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: $white;
	padding: 4rem 0 0 2rem;
	@include bp($point_5) {
		width: 100%;
		overflow: auto;
	}
}
.popup_close_m {
	position: absolute;
	top: 1.5rem;
	right: 2.5rem;
	button {
		color: #BB0000;
	}
}
.popup_menu_head {
}
.popup_logo {
	margin-bottom: 3rem;
	max-width: 7rem;
}
.popup_social {
	margin-bottom: 2rem;
	ul {
		display: flex;
		height: 4.5rem;
	}
}
.popup_social_wh {
	a {
		background: $black;
		width: 4.5rem;
		height: 4.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1.2rem 1.3rem 1.2rem 1.1rem;
		border-radius: 1rem;
		margin-right: 1.5rem;
		img {
			width: 2.4rem;
		}
	}
}
.popup_social_vk {
	a {
		background: $black;
		width: 4.5rem;
		height: 4.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1.4rem .8rem 1.4rem .7rem;
		border-radius: 1rem;
		margin-right: 1.5rem;
		img {
			width: 2.4rem;
		}
	}
}
.popup_social_tg {
	a {
		background: $black;
		width: 4.5rem;
		height: 4.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1.1rem 1.1rem 1rem 1rem;
		border-radius: 1rem;
		img {
			width: 2.4rem;
		}
	}
}
.popup_tel {
}




.popup_project {
}
.popup_form_bg {
}
.close_popups {
}
.remove {
}
.popup_form_p {
	position: absolute;
	background: $white;
	max-width: 115.5rem;
	padding: 4rem;
	border-radius: 2rem;
	@include bp($point_2) {
		padding: 2rem;
		max-width: 100rem;
	}
	@include bp($point_5) {
		max-width: 35rem;
		padding: 6rem 2rem 2rem 2rem;
	} 
}
.popup_close {
}
.icon {
}
.icon-close {
}
.popup_form_content {
	display: flex;
	justify-content: space-between;
	@include bp($point_5) {
		flex-direction: column;
	}
}
.popup_form_left {
	position: relative;
}
.popup_slider_nav {
}
.popup_slider_btn_prewios {
	position: absolute;
	z-index: 2;
	top: 50%;
	transform: translateY(-50%);
	left: 5%;
	button {
		color: rgba(255, 255, 255, 0.4);
	}
}
.icon-previous {
}
.popup_slider_btn_next {
	position: absolute;
	z-index: 2;
	top: 50%;
	transform: translateY(-50%);
	right: 5%;
	button {
		color: rgba(255, 255, 255, 0.4);
	}
}
.swiper-button-disabled {
	button {
		fill: #BB0000;
	}
}
.icon-next {
}
.popup_slider_w {
	width: 100%;
	overflow: hidden;
	@include bp($point_5) {
		margin-bottom: 2rem;
	}
}
.popup_slider {
	max-width: 50rem;
}
.swiperPr {
}
.swiper-wrapper {
}
.swiper-slide {
	margin-right: 3rem;
}
.popup_slide {
	img {
		border-radius: 1rem;
	}
}
.project_slide {
}
.popup_form_right {
}
.popup_form_head_p {
		margin-bottom: 2rem;
		margin-left: 4rem;
		h2 {
			font-family: $font_2;
			font-size: 2.5rem;
		}
		@include bp($point_5) {
			margin-left: 0;
			h2 {
				font-size: 1.6rem;
			}
		}
}
.popup_form_txt {
	max-width: 390rem;
	max-height: 26.4rem;
	overflow-y: scroll;
	padding: 0 3rem 0 4rem;
	@include bp($point_5) {
		padding: 0 2rem 0 0;
		max-height: 15rem;
	}
}
.popup_form_txt::-webkit-scrollbar-track
{
	background-color: rgba(2, 2, 2, 0.2);
}

.popup_form_txt::-webkit-scrollbar
{
	width: .4rem;
	background-color: rgba(2, 2, 2, 0.2);
}

.popup_form_txt::-webkit-scrollbar-thumb
{
	background-color: $yellow;
}