.hero {
	position: relative;
	&:before {
		position: absolute;
		content: '';
		top: -$header;
		width: 100%;
		height: calc(100% + $header);
		background: url('../../i/bg.png') center/cover no-repeat;
		z-index: -1;
	}
	&:after {
		position: absolute;
		content: '';
		bottom: 0;
		width: 100%;
		height: 5.1rem;
		background: url('../../i/bg1.png') center/cover no-repeat;
		z-index: 1;
	}
}
.section_in {
}
.hero_main {
	padding: 17.7rem 0 11.2rem 0;
	@include bp($point_2) {
		padding: 7rem 0 6rem 0;
	}
	@include bp($point_5) {
		padding: 8rem 0 10rem 0;
	}
}
.hero_main_txt {
	max-width: 80rem;
	margin-bottom: 6rem;
	h1 {
		line-height: 6.3rem;
		margin-bottom: 2rem;
	}
	p {
		color: $white;
	}
	@include bp($point_2) {
		h1{
			line-height: 4rem;
		}
	}
	@include bp($point_5) {
		text-align: center;
		margin-bottom: 3rem;
		h1 {
			line-height: 3.3rem;
			font-size: 2rem;
		}
		p {
			font-size: 1.4rem;
		}
		br {
			display: none;
		}
	}
}
.hero_main_btn {
	margin-bottom: 21.6rem;
	button {
		background: $yellow;
		padding: 2.2rem 6rem;
		border-radius: 1rem;
		box-shadow: 0 1.9rem 6rem rgba(255, 222, 89, 0.3);
		transition: all .4s ease;
		&:hover {
			background: $gold;
			box-shadow: 0 1.9rem 6rem rgba(255, 222, 89, 0.3);
		}
	}
	@include bp($point_2) {
		margin: 0;
	}
	@include bp($point_5) {
		display: flex;
		justify-content: center;
		button {
			font-size: 1.4rem;
		}
	}
}
.hero_main_social {
	position: relative;
	ul {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		margin-left: 16.05rem;
	}
	li {
		&:not(:last-child) {
			margin-right: 3.5rem;
		}
	}
	&:before {
		content: '';
		position: absolute;
		border-bottom: .1rem solid $white;
		width: 11.2rem;
		color: $white;
		opacity: .7;
		top: 50%;
		left: 0;
	}
	@include bp($point_2) {
		display: none;
	}
}
.hero_social_wh {
}
.hero_social_vk {
}
.hero_social_tg {
}
.project {
}
.project_main {
	padding: 11.7rem 0 0 0;
	@include bp($point_2) {
		padding: 4rem 0 0 0;
	}
}
.project_head {
	margin-bottom: 6rem;
	@include bp($point_5) {
		margin-bottom: 3rem;
		text-align: center;
	}
}
.project_list {
	ul {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(29%, 1fr));
		grid-gap: 6rem 3rem;
	}
	margin-bottom: 6rem;
	@include bp($point_5) {
		margin-bottom: 3rem;
		ul {
			grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
			grid-gap: 3rem;
		}
	}
}
.project_list_img {
	position: relative;
	margin-bottom: 2rem;
	cursor: pointer;
	border-radius: 1rem;
	overflow: hidden;
	&:hover {
		&:before, span {
			opacity: 1;
			visibility: visible;
		}
	}
	&:before, span {
		opacity: 0;
		visibility: hidden;
		width: 100%;
		height: 100%;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		position: absolute;
		transition: all .3s ease;
		pointer-events: none;
		content: '';
		@include flex-center;
	}
	&:before {
		background-color: rgba(27, 27, 27, 0.5);
	}
	span {
		 color: $white;
	}
	img {
		border-radius: 1rem;
		&:hover {
			background-color: rgba(27, 27, 27, 0.5);
			border-radius: 1rem;
		}
	}
	@include bp($point_5) {
		margin-bottom: 1rem;
	}
}
.project_list_txt {
	p {
		font-family: $font_3;
		font-size: 2rem;
		margin-bottom: 1.5rem;
	}
	span {
		color: rgba(27, 27, 27, 0.8);
	}
	@include bp($point_5) {
		text-align: center;
	}
}
.project_btn {
	display: flex;
	justify-content: center;
	button {
		background: $yellow;
		padding: 2.2rem 6rem;
		border-radius: 1rem;
		box-shadow: 0 1.9rem 6rem rgba(255, 222, 89, 0.3);
		&:hover {
			background: $gold;
			box-shadow: 0 1.9rem 6rem rgba(255, 222, 89, 0.3);
			transition: all .4s;
		}
	}
}
.sale {
	position: relative;
	&:before {
		position: absolute;
		content: '';
		top: 0;
		width: 100%;
		height: 118%;
		background: url('../../i/bgsale2.png') center/cover no-repeat;
		z-index: -1;
	}
	&:after {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		width: 51%;
		height: 100%;
		background: url('../../i/saleleft.png') center/cover no-repeat;
		z-index: 1;
	}
	@include bp($point_3) {
		&:after {
			left: -11.8rem;
		}
	}
	@include bp($point_5) {
		&:after {
			display: none;
		}
	}
}
.sale_main {
	margin: 18rem 0 0 0;
	display: flex;
	&:before {
		position: absolute;
		content: '';
		top: 0;
		right: 48%;
		width: 9rem;
		height: 61.7rem;
		background: url('../../i/bgsale1.png') center/cover no-repeat;
		z-index: 2;
	}
	@include bp($point_2) {
		&:before {
			right: 42%;
			width: 11rem;
			height: 66.79rem;	
		}	
	}
	@include bp($point_3) {
		&:before {
			right: 63%;
			height: 66.89rem;
		}
	}
	@include bp($point_4) {
		&::before {
			height: 66.79rem;
		}
	}
	@include bp($point_5) {
		margin: 6rem 0 0 0;
		&::before {
			display: none;
		}
	} 
}
.sale_main_left {
	display: none;
}
.sale_main_right {
	padding: 6.6rem 0 12.7rem 74.4rem;
	@include bp($point_2) {
		padding: 6.6rem 0 12.7rem 61.4rem;
	}
	@include bp($point_3) {
		padding: 6.6rem 0 12.7rem 32.4rem;
	}
	@include bp($point_5) {
		padding: 4rem 0;
	}
}
.sale_head {
	margin-bottom: 5rem;
	h2 {
		color: $white;
		margin-bottom: 2rem;
	}
	p {
		color: $white;
	}
	@include bp($point_2) {
		br {
			display: none;
		}
		p {
			max-width: 30rem;
		}
	}
	@include bp($point_5) {
		text-align: left;
		P {
			max-width: 35rem;
			font-size: 1.4rem;
		}
		br {
			display: none;
		}
	}
}
.sale_main_form {
}
.sale_form {
}
.sale_form_input {
	&:not(:last-child) {
		margin-bottom: 2rem;
	}
	width: 100%;
	input {
		@include app;
		color: $white;
		border: .1rem solid rgba(255, 255, 255, 0.4);
		border-radius: 1rem;
		width: 100%;
		padding: 2.1rem 0 2.2rem 2.5rem;
		&::-webkit-input-placeholder {
			color: $white;
		}
	}
	@include bp($point_2) {
		input {
			width: 100%;
		}
	}
}
.sale_main_form_bottom {
	display: flex;
	align-items: center;
	@include bp($point_2) {
		flex-direction: column;
	}
}
.sale_form_btn {
	margin-right: 2.5rem;
	width: 90%;
	button, input[type="submit"] {
		@include app;
		width: 100%;
		background: $yellow;
		padding: 2.2rem 6rem;
		border-radius: 1rem;
		box-shadow: 0 1.9rem 6rem rgba(255, 222, 89, 0.3);
		transition: all .4s ease;
		&:hover {
			background: $gold;
			box-shadow: 0 1.9rem 6rem rgba(255, 222, 89, 0.3);
		}
	}
	@include bp($point_2) {
		margin-bottom: 2rem;
		margin-right: 0;
		width: 100%;
		button, input[type="submit"] {
			width: 100%;
			padding: 2.2rem 6rem;
		}
	}
	@include bp($point_3) {
		button, input[type="submit"] {
			padding: 2.2rem 6rem;
		}
	}
}
.sale_policy {
	color: $white;
	font-size: 1.6rem;
	a {
		color: $white;
		border-bottom: .1rem solid $white;
	}
}
.advantages {
}
.advantages_main {
	padding: 18rem 0 0 0;
	@include bp($point_2) {
		padding: 6rem 0 0 0;
	}
}
.advantages_head {
	display: flex;
	justify-content: center;
	margin-bottom: 13rem;
	@include bp($point_2) {
		margin-bottom: 4rem;
	}
}
.advantages_content {
	ul {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(20%, 1fr));
		grid-gap: 14.2rem 13.5rem;
	}
	li {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		max-width: 35rem;
	}
	@include bp($point_2) {
		ul {
			grid-template-columns: repeat(auto-fill, minmax(21%, 1fr));
			grid-gap: 5rem 6rem;
		}
	} 
	@include bp($point_5) {
		ul {
			grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
			grid-gap: 5rem 6rem;
		}
		li {
			max-width: 50rem;
		}
	}
}
.advantages_content_img {
	background: rgba(255, 222, 89, 0.2);
	width: 7.5rem;
	height: 7.4rem;
	border-radius: 1rem;
	margin-bottom: 3rem;
	img {
		width: 3.2rem;
		margin: 2.2rem;
	}
	@include bp($point_5) {
		margin-bottom: 1rem;
	}
}
.advantages_content_txt {
	p {
		margin-bottom: 2rem;
		font-family: $font_3;
		font-size: 2.3rem;
	}
	@include bp($point_2) {
		p {
			font-size: 1.6rem;
		}
		span {
			font-size: 1.6rem;
		}
	}
	@include bp($point_5) {
		p {
			margin-bottom: 1rem;
		}
	}
}
.company {
}
.company_main {
	padding: 18rem 0 0 0;
	display: flex;
	justify-content: space-between;
	@include bp($point_2) {
		padding: 6rem 0 0 0;
		justify-content: center;
	}
}
.company_main_left {
	margin-right: 8.3rem;
}
.company_head {
	margin-bottom: 3rem;
}
.company_info {
	max-width: 56rem;
	margin-bottom: 6rem;
	p {
		text-align: left;
		&:not(:last-child) {
				margin-bottom: 2rem;
		}
	}
	@include bp($point_2) {
		max-width: 100rem;
	}
}
.company_btn {
	button {
		background: $yellow;
		padding: 2.2rem 6rem;
		border-radius: 1rem;
		box-shadow: 0 1.9rem 6rem rgba(255, 222, 89, 0.3);
		transition: all .4s ease;
		&:hover {
			background: $gold;
			box-shadow: 0 1.9rem 6rem rgba(255, 222, 89, 0.3);
		}
	}
}
.company_main_right {
	img {
		border-radius: 1rem;
	}
	@include bp($point_2) {
		display: none;
	}
}
.stages {
	position: relative;
	&:before {
		position: absolute;
		content: '';
		bottom: 0;
		width: 100%;
		height: 5.1rem;
		background: url('../../i/bg1.png') center/cover no-repeat;
		z-index: 1;
	}
	&:after {
		position: absolute;
		content: '';
		top: 0;
		width: 100%;
		height: 5.1rem;
		rotate: 180deg;
		background: url('../../i/bg1.png') center/cover no-repeat;
		z-index: 1;
	}
}
.stages_main_w  {
	&:before {
		position: absolute;
		content: '';
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background: url('../../i/bgwork.png') center/cover no-repeat;
		z-index: -1;
	}
}
.stages_main {
	margin: 18rem 0 0 0;
	padding: 15rem 0 16.8rem 0;
	@include bp($point_2) {
		margin: 6rem 0 0 0;
	}
	@include bp($point_5) {
		margin: 6rem 0 0 0;
		padding: 14rem 0 10rem 0;
	}
}
.stages_main_head {
	display: flex;
	justify-content: center;
	margin-bottom: 15.4rem;
	h2 {
		color: $white;
	}
	@include bp($point_5) {
		margin-bottom: 5rem;
	}
}
.stages_main_content {
	ul {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(29%, 1fr));
		grid-gap: 17.4rem 6.6rem;
		counter-reset: item;
	}
	li {
		position: relative;
		counter-increment: item;
		&:before {
			position: absolute;
			content: "0" counter(item);
			bottom: 40%;
			left: -17%;
			font-size: 15rem;
			color: #FFDE5933;
			z-index: 1;
			font-family: $font_4;
			line-height: 18.2rem;
		}
	}
	@include bp($point_2) {
		ul {
			grid-gap: 10rem 4rem;
		}
		li {
			&:before {
				left: -4%;
			}
		}
	} 
}
.stages_main_txt {
	max-width: 33rem;
	color: $white;
	p {
		font-family: $font_3;
		margin-bottom: 2rem;
	}
	@include bp($point_5) {
		p {
			font-size: 1.6rem;
			margin-bottom: 1rem;
		}
		span {
			font-size: 1.6rem;
		}
	}
}
.answers {
}
.answers_main {
	padding: 18rem 0 0 0;
	@include bp($point_2) {
		padding: 4rem 0 0 0;
	}
	@include bp($point_5) {
		padding: 0;
	}
}
.answers_head {
	display: flex;
	justify-content: center;
	margin-bottom: 8rem;
	@include bp($point_2) {
		margin-bottom: 4rem;
	}
}
.answers_main_info {
	li {
		&:not(:last-child) {
			margin-bottom: 3rem;
		}
	}
}
.answers_item {
	&.active_mod {
		.answers_btn {
			svg {
				fill: $white;
			}
			transform: rotate(180deg);
		}
		.answers_item_head {
			background: $black;
			h4 {
				color: $white;
			}
		}
	}
}
.answers_item_head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: .1rem solid rgba(27, 27, 27, 0.3);
	padding: 2.1rem 3rem 2rem 3rem;
	border-radius: 1rem;
	cursor: pointer;
	h4 {
		font-family: $font_1;
		font-size: 2rem;
	}
	@include bp($point_5) {
		h4 {
			font-size: 1.6rem;
		}
	}
}
.answers_btn {
}
.answers_item_bottom {
	max-width: 117rem;
	padding: 3rem 0 0 3rem;
	@include bp($point_5) {
		P {
			font-size: 1.6rem;
		}
	}
}
.consultation {
	margin: 18rem 0 0 0;
	position: relative;
	&:before {
		position: absolute;
		content: '';
		top: 0;
		width: 100%;
		height: 127%;
		background: url('../../i/bgconsultation.png') center/cover no-repeat;
		z-index: -1;
	}
	&:after {
		position: absolute;
		content: '';
		top: 0;
		right: 0;
		width: 51%;
		height: 100%;
		background: url('../../i/consultationRight.png') center/cover no-repeat;
		z-index: 1;
	}
	@include bp($point_5) {
		margin: 6rem 0 0 0;
		&:after {
			display: none;
		}
	}
	@include bp($point_3) {
		&:after {
			width: 38%;
		}
	}
}
.consultation_main_w {
}
.consultation_main {
	display: flex;
	&:before {
		position: absolute;
		content: '';
		top: 0;
		right: 47%;
		width: 9rem;
		height: 63.7rem;
		rotate: 180deg;
		background: url('../../i/bgsale1.png') center/cover no-repeat;
		z-index: 2;
		@include bp($point_5) {
			display: none;
		}
	}
	@include bp($point_2) {
		&:before {
			height: 67rem;
			right: 43%;
		}
	}
	@include bp($point_3) {
		&:before {
			right: 30%;
		}
	}
}
.consultation_main_left {
	padding: 6.6rem 0 12.7rem 0;
	max-width: 58rem;
	@include bp($point_5) {
		padding: 6rem 0;
	}
}
.consultation_head {
	margin-bottom: 5rem;
	h2 {
		color: $white;
		margin-bottom: 2rem;
	}
	p {
		color: $white;
	}
	@include bp($point_2) {
		max-width: 47rem;
	}
	@include bp($point_5) {
		p {
			font-size: 1.6rem;
			max-width: 30rem;
		}
	} 
}
.consultation_main_form {
}
.consultation_form {
}
.consultation_form_input {
	&:not(:last-child) {
		margin-bottom: 3rem;
	}
	width: 100%;
	input {
		@include app;
		color: $white;
		border: .1rem solid rgba(255, 255, 255, 0.4);
		border-radius: 1rem;
		width: 100%;
		padding: 2.1rem 0 2.2rem 2.5rem;
		&::-webkit-input-placeholder {
			color: $white;
		}
	}
	@include bp($point_2) {
		input {
			width: 75%;
		}
		@include bp($point_3) {
			input {
				width: 65%;
			}
		}
	}
	@include bp($point_5) {
		input {
			width: 100%;
		}
	}
}
.consultation_form_bottom {
	display: flex;
	align-items: center;
	@include bp($point_2) {
		flex-direction: column;
		align-items: flex-start;
	}
}
.consultation_form_btn {
	margin-right: 2.5rem;
	width: 81%;
	button, input[type="submit"] {
		@include app;
		width: 100%;
		background: $yellow;
		padding: 2.2rem 6rem;
		border-radius: 1rem;
		box-shadow: 0 1.9rem 6rem rgba(255, 222, 89, 0.3);
		transition: all .4s ease;
		&:hover {
			background: $gold;
			box-shadow: 0 1.9rem 6rem rgba(255, 222, 89, 0.3);
		}
	}
	@include bp($point_2) {
		width: 100%;
		margin-right: 0;
		margin-bottom: 2rem;
		button, input[type="submit"] {
			width: 75%;
			padding: 2.2rem 6rem;
		}
	}
	@include bp($point_3) {
		button, input[type="submit"] {
			width: 65%;
		}
	}
	@include bp($point_5) {
		width: 100%;
		button, input[type="submit"] {
			width: 100%;
			padding: 2.2rem 6rem;
		}
	}
}
.consultation_policy {
	color: $white;
	a {
		color: $white;
		border-bottom: .1rem solid $white;
	}
	@include bp($point_5) {
		font-size: 1.6rem;
	}
}
.consultation_main_right {
	display: none;
}
.reviews {
}
.reviews_main {
	padding: 18rem 0 0 0;
	@include bp($point_2) {
		padding: 6rem 0 0 0;
	}
}
.reviews_head {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 6rem;
	@include bp($point_5) {
		margin-bottom: 3rem;
	}
}
.reviews_slider_nav {
	display: flex;
	@include bp($point_5) {
		display: none;
	}
}
.reviews_slider_btn_prewios {
	margin-right: 5rem;
	button {
		color: rgba(27, 27, 27, 0.3);
	}
}
.icon {
}
.icon-previous {
}
.reviews_slider_btn_next {
	button {
		color: rgba(27, 27, 27, 0.3);
	}
}
.swiper-button-disabled {
	button {
		color: $black;
	}
} 
.icon-next {
}
.reviews_slider_w {
	padding-bottom: 18rem;
	@include bp($point_2) {
		padding-bottom: 6rem;@include bp($point_2) {
			margin: 0;
		}
	}
}
.reviews_slider {
}
.swiper {
}
.swiper-wrapper {
	height: auto !important;
}
.swiper-slide {
}
.reviews_slide {
	border: .1rem solid rgba(27, 27, 27, 0.3);
	border-radius: 1rem;
	padding: 3rem;
	@include bp($point_2) {
		padding: 2rem;
	}
}
.reviews_slide_head{
	margin-bottom: 1rem;
	h3 {
		font-family: $font_3;
		font-size: 2rem;
	}
	@include bp($point_5) {
		h3 {
			font-size: 1.6rem;
		}
	}
}
.reviews_slide_date {
	margin-bottom: 3.1rem;
	p {
		font-family: $font_1;
		color: $darkyellow;
	}
	@include bp($point_2) {
		margin-bottom: 1.5rem;
	}
	@include bp($point_5) {
		p {
			font-size: 1.4rem;
		}
	}
}
.reviews_slide_txt {
	margin-bottom: 2rem;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 4;
	&.visible {
		max-height: 100rem;
		-webkit-line-clamp: 1000;
	}
	@include bp($point_5) {
		p {
			font-size: 1.6rem;
		}
	}
}
.reviews_btn_more {
	display: flex;
	align-items: baseline;
	cursor: pointer;
	p {
		font-family: $font_2;
	}
	svg {
		margin-left: 1.5rem;
		width: 1.3rem;
	}
	&.active_more_btn {
		svg {
			rotate: 180deg;
		}
	}
}
.contact {
	position: relative;
	&:before {
		position: absolute;
		content: '';
		bottom: - $footer;
		width: 100%;
		height: calc(123% + $footer);
		background: url('../../i/bgcontact.png') center/cover no-repeat;
		z-index: -1;
		@include bp($point_5) {
			bottom: - 11.2rem;
			height: calc(131% + $footer);
		}
	}
}
.contact_main {
	display: flex;
	justify-content: space-between;
	border-bottom: .1rem solid rgba(255, 255, 255, 0.4);
	padding: 9.2rem 0 6rem 0;
	@include bp($point_3) {
		flex-direction: column;
	}
	@include bp($point_5) {
		padding: 6rem 0;
	}
}
.contact_main_left {
	@include bp($point_3) {
		margin-bottom: 2rem;
	}
}
.contact_left_head {
	margin-bottom: 4rem;
	h2 {
		color: $white;
	}
}
.contact_left_info {
	margin-bottom: 7rem;
}
.contact_mobil {
	margin-bottom: 3rem;
	a {
		@include flex-start;
		color: $white;
	}
}
.icon-call {
	margin-right: 1.9rem;
}
.contact_mail {
	margin-bottom: 3rem;
	a {
		@include flex-start;
		color: $white;
	}
}
.icon-mail {
	margin-right: 1.5rem;
}
.contact_addres {
	@include flex-start;
	color: $white;
}
.icon-mapmark {
	margin-right: 1.7rem;
}
.contact_left_social {
	ul {
		display: flex;
		align-items: center;
	}
}
.contact_wh {
	a {
		background: $white;
		width: 4.5rem;
		height: 4.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1.2rem 1.3rem 1.2rem 1.1rem;
		border-radius: 1rem;
		margin-right: 1.5rem;
		img {
			width: 2.4rem;
		}
	}
}
.contact_vk {
	a {
		background: $white;
		width: 4.5rem;
		height: 4.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1.4rem .8rem 1.4rem .7rem;
		border-radius: 1rem;
		margin-right: 1.5rem;
		img {
			width: 2.4rem;
		}
	}
}
.contact_tg {
	a {
		background: $white;
		width: 4.5rem;
		height: 4.5rem;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 1.1rem 1.1rem 1rem 1rem;
		border-radius: 1rem;
		img {
			width: 2.4rem;
		}
	}
}
.contact_main_right {
	@include bp($point_5) {
		display: none;
	}
}
.contact_map {
	iframe {
		border-radius: 1rem;
	}
}

.wpcf7-response-output, .wpcf7-spinner, .wpcf7-not-valid-tip {  display: none;}.wpcf7-not-valid {  border: 0.1rem solid #ff0000 !important;}.close_main p, .action_input input {  color: #000 !important;}.btn input[type=submit] {  border: none;  cursor: pointer;  width: 100%;  font-size: 20px;}